.input-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  .send-options {
    border-top: 1.5px solid var(--gray-blur);
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0px 8px;

    .send-option {
      width: 40px;
      height: 40px;
      background-color: transparent;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 8px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }

      input {
        display: none;
      }
      span {
        font-size: 30px;
        opacity: 0.7;
      }
    }
  }
  .inputtext {
    display: flex;
    height: 60px;

    input {
      flex: 1;
      font-size: 18px;
      padding: 12px;
    }
    button {
      background-color: transparent;
      padding: 8px;
      font-size: 18px;
      font-weight: 600;
      margin: 8px;
      color: rgba(0, 0, 255, 0.5);
      border-radius: 8px;
      &:hover {
        background-color: rgb(214, 214, 247);
      }
    }
    .hasnotmessage {
      opacity: 0;
    }

    border-top: 1.5px solid var(--gray-blur);

    &:focus-within {
      border-top: 1.5px solid rgb(115, 115, 243);
    }
  }
}
