.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      display: flex;
      align-items: center;
      flex-direction: column;
      img {
        width: 114px;
        height: 41px;
        object-fit: cover;
        margin-bottom: 18px;
      }
      h4 {
        width: 240px;
        text-align: center;
        font-weight: 400;
        color: rgb(51, 51, 51);
        font-size: 17.6px;
        margin-bottom: 18px;
        margin-block-end: 18px;
      }
    }
    .form {
      background-color: white;
      padding: 24px;
      border-radius: 4px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: column;

      .form-input-group {
        border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
        margin-bottom: 18px;
        display: flex;
        align-items: center;

        span {
          color: rgba(0, 0, 0, 0.7);
        }
        input {
          flex: 1;
          padding: 6px 0px 6px 6px;
          font-size: 18px;
          outline: none;
        }
        select {
          outline: none;
          padding-left: 6px;
          font-size: 18px;
        }
      }
      .message {
        text-align: center;
        margin-bottom: 12px;
        height: 16px;
        color: blue;
      }
      .register-btn {
        background-color: rgba(1, 144, 243);
        color: white;
        width: 300px;
        height: 44px;
        border-radius: 6px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        line-height: 44px;
        min-width: 200px;
        text-align: center;
        transition: all 0.3s;

        &:hover {
          background-color: rgb(35, 119, 180);
        }
      }
      .cantclick {
        opacity: 0.5;
      }
      .footer {
        text-align: center;
        margin-top: 12px;

        a {
          color: blue;
        }
      }
    }
  }
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
