.messages {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;

  padding: 32px 8px 32px 16px;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #00000045;
    border-radius: 20px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #0000007a;
  }
  .wrappermessage {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    &:hover {
      .popper {
        opacity: 1;
      }
    }
    .popper {
      transition: all 0.2s;
      opacity: 0;
    }
    .message {
      display: flex;
      align-items: center;
      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1.5px solid white;
        margin: 0px 8px;
        opacity: 0;
      }
      .content {
        background-color: white;
        padding: 12px;
        border-radius: 8px;

        a {
          color: rgb(51, 51, 246);
          &:hover {
            text-decoration: underline;
          }
        }
        p {
          max-width: 300px;
          word-wrap: break-word;
        }
        p.wide {
          max-width: 600px;
        }
        .time {
          color: gray;
          font-size: 14px;
          padding-top: 12px;
          display: none;
        }
      }
      .content-image {
        background-color: transparent;
        padding: 0px;
        img {
          max-width: 300px;
          max-height: 300px;
          border-radius: 6px;
        }
        img.wide {
          max-width: 600px;
        }
        .time {
          color: rgb(91, 91, 91);
          font-size: 14px;
          padding-top: 12px;
          display: none;
        }
      }
    }
    .type1 {
      .avatar {
        opacity: 1;
      }
    }
    .type2 {
      .content {
        .time {
          display: block;
        }
      }
      .content-image {
        .time {
          display: block;
        }
      }
    }
  }
  .ismobile {
    .message {
      .content {
        a > p.wide,
        p,
        p.wid {
          max-width: 200px;
        }
      }
      .content-image {
        img,
        img.wide {
          max-width: 200px;
        }
      }
    }
  }
  .right {
    justify-content: right;
    .message {
      flex-direction: row-reverse;
      .content {
        background-color: rgb(219, 219, 246);
      }
      .content-image {
        background-color: transparent;
      }
    }
  }
  .isDeleteOnMySide {
    display: none;
  }
}
