.user-item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  img {
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .info {
    padding-left: 12px;
    span {
      font-size: 16x;
    }
  }
  .btnOK {
    margin-left: auto;
    font-size: 12px;
    background-color: rgb(83, 83, 249);
    color: white;
    padding: 8px;
    border-radius: 8px;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}
.button {
  img {
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
}
