.module {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    background-color: white;
    border-radius: 8px;
    position: relative;
    min-width: 50px;
    min-height: 50px;
    animation: show 0.25s ease-out;

    .closebtn {
      position: absolute;
      right: 0;
      margin: 8px;
      border-radius: 50%;
      font-size: 30px;
      color: rgb(90, 90, 90);
      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    @keyframes show {
      from {
        transform: scale(0);
        opacity: 0;
      }
      to {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}
.hide {
  display: none;
}
